
.direction{
    position: relative;
    right: 10%;
}
.img{
border-radius: 50%;
width: 40px;
height: auto;


}


.navbar ul a:hover{
    color: blue !important;
}

.card{
   width: 40%;
   padding: 20px 20px;
   margin: 20px 25px;
    border-width: 0.0625rem;
   border-color: rgba(33, 50, 91, 0.1);
   border-radius: 0.5rem;
    box-shadow: 2px salmon rgba(140, 152, 164, 0.125);
    position: relative;
   cursor: pointer;
   transition:  1s all;
   
}
.card:hover{
   
    translate: scale(0.2);
}
.btoon .content {
width: 10%;
height: 8%;
margin: auto;

}
.list{
    margin: 20px 20px;
}

.btoon .card{
width: fit-content !important; ;
height: 40% !important;

}
.btoon{
   
    height: 25%;
   
}
.btoon .content:hover{
    background-color: blue;
}
.list .content{
    color: #677788;;
}
.list .aosom{
    position: relative;
    right: 10%;
}
.list ul a:hover{
    color: blue;
}
/* ----------------- */
.footer{
   background-color: rgba(2, 16, 43, 0.9);
   
}

.social{
    list-style: none;
    text-decoration: none;
    border: 3px solid;
    border-radius: 20px;
}
.social a{
    transition: all 2s;
    color: white;
   
}

.social a:hover{
    transform: translate(ease-in-out);
    background-color: #fff;
    color: #979c9f;

}
.scroll-top{
  
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px 20px;

}
.scroll-top a{
    text-decoration: none;
}
.scroll-top:hover{
    background-color:blue!important;
}
